table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: rgba(255,255,255,0.2)}
  tr:nth-child(odd){background-color: rgba(255,255,255,0.1)}
  
  th {
    background-color: rgba(255,255,255,0.3);
    color: white;
    text-align:left;
    cursor:'pointer'
  }

table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
